html,
body,
#root {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  margin: 20px;
  border: 2px solid black;
  font-size: 30pt;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
li,
ul {
  all: unset;
}
label {
  display: flex;
  gap: 8px;
}
.center {
  display: grid;
  place-content: center;
}
#rows {
  display: grid;
  grid-auto-columns: 1fr;
  height: 100%;
  padding: 40px;
}

label,
input {
  font-size: 20pt;
}
