.container {
  position: absolute;
  inset: 0;
  width: min(1000px, 100vw - 4rem);
  margin-right: auto;
  margin-left: auto;
}

.grid {
  all: unset;
  padding: 0;
  gap: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid; */
  /* justify-items: center; */
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
}

.thumbnail {
  object-fit: cover;
}
